<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Print Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <p>Name: [[${student.name}]]</p>
    <p>Post Secondary Education/Training: [[${student.postSecondaryEd}]]</p>
    <p>Professional Certifications/Licenses Earned: [[${student.ProfessionalCertifications}]] </p>
    <p>Employer: [[${student.employer}]]</p>
    <p>Wage: [[${student.wage}]]</p>
    <p>Industry: [[${student.industry}]]</p>
    <p>Other Experience in the Industry: [[${student.otherExperience}]]</p>
    <p>Position: [[${student.position}]]</p>
    <p>Reason for leaving: [[${student.reasonForLeaving}]]</p>
    <p>What prevents you from employment: [[${student.preventsEmployment}]]</p>
    <p>Transportation: [[${student.transportation}]]</p>
    <p>Driver's License: [[${student.driversLiscense}]]</p>
    <div class="row">
        <div class="col-md-3">
            <p>I need:</p>
        </div>
        <div class="col-md-9">
            <p th:if="${student.housingAssist==True}">Housing Assistance</p>
            <p th:if="${student.childFamilyCareAssist==True}">Child/Family Care Assistance</p>
            <p th:if="${student.financialAssist==True}">Financial Assistance</p>
            <p th:if="${student.healthAssist==True}">Health Assistance</p>
            <p th:if="${student.foodAssist==True}">Food Assistance</p>
            <p th:if="${student.transportationAssist==True}">Transportation Assistance</p>
            <p th:if="${student.businessAttireAssist==True}">Business Attire</p>
            <p th:if="${student.legalAssist==True}">Legal Assistance</p>
            <p th:if="${student.otherAssist==True}">Other Assistance</p>

        </div>
    </div>

    <p>Long Term Career Goals: [[${student.ltCareerGoal}]]</p>
    <p>Position desired/Applied for: [[${student.positionApply}]]</p>
    <p>Skill/Experience possesed:[[${student.skillsExp}]]</p>
    <p>Other Strengths for work in the IT Field: [[${student.strengths}]]</p>
    <p>Training needed for employment [[${student.trainingNeeded}]]</p>
    <p>Responsibilities you'll enjoy the most[[${student.tasksYoullEnjoy}]]</p>
    <p>How you see yourself Growing in this career: [[${student.seeGrowth}]]</p>
    <p>Two areas for personal growth: [[${student.twoAreagrowth}]]</p>
        <div class="row">
            <div class="col-md-3">
                <p>I want a career that offers me : </p>
            </div>
            <div class="col-md-9">
                <p th:if="${student.healthInsurance==True}">Health Insurance</p>
                <p th:if="${student.dental==True}">Dental insurance </p>
                <p th:if="${student.visionInsurance==True}">Vision insurance</p>
                <p th:if="${student.vacationSickLeave==True}">Vacation/Sick leave </p>
                <p th:if="${student.retirementPlan==True}">Retirement plan </p>
                <p th:if="${student.fullTime==True}">Full-time Employment </p>
                <p th:if="${student.partTime==True}">Part-time Employment</p>
                <p th:if="${student.contractor==True}">Contractor work</p>
                <p th:if="${student.selfEmploy==True}">Self-employment</p>
                <p th:if="${student.weekdaysOnly==True}">Work on weekdays only</p>
                <p th:if="${student.dayHoursOnly==True}">Daytime hours only</p>
                <p th:if="${student.flexSchedule==True}">Flexible schedule</p >
            </div>
        </div>
    <p>Desired wage: [[${student.desiredWage}]]</p>
    <p>Desired geographical local:[[${student.desiredLocal}]]</p>
    <p>Will meet with Ap career Navigator by appointment as needed: [[${student.meetNavigator}]]</p>
    <p>Committed to obtaining and maintaining long-term employment: [[${student.committed2LTEmploy}]]</p>
    <p>Committed to contacting instructor/program coordinator when you recieve employment: [[${student.committed2contactCoordinator}]]</p>
    <p>Will use the referrals provided: [[${student.useReferrals}]]</p>
    <p>Wiling to recieve on job training: [[${student.willing2takeOnJobTraining}]]</p>
</div>

</body>
</html>