<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Student Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container p-3">
    <div class="row justify-content-center p-4">
        <h1>Please Fill out the  following career planning guide</h1>
    </div>
    <form action="#" th:action="@{/studentform}" th:object="${student}" method="post">
        <div class="form-group form-row">
            <label class="col-sm-3"> Full Name:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{name}"/>
            </div>
        </div>
        <div class="row justify-content-center p-4">
            <h3>Education/Training/Professional Developement</h3>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3"> Post Secondary Education/Training:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{postSecondaryEd}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">  Professional Certifications/Licenses Earned</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{ProfessionalCertifications}"/>
            </div>
        </div>

        <div class="row justify-content-center p-4">
            <h3>Current/Most Recent Employment</h3>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3"> Employer:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{employer}"/>
            </div>
        </div>

        <div class="form-group form-row">
            <label class="col-sm-3">Wage/Salary:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{wage}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Industry:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{industry}"/>
            </div>
        </div>

        <div class="form-group form-row">
            <label class="col-sm-3">Position( state full-time, part time, or temp):</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{position}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Reason For Leaving:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{reasonForLeaving}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Other experience in industry: </label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{otherExperience}"/>
            </div>
        </div>

        <div class="form-group form-row">
            <label class="col-sm-3">If you have been unemployed longer than 6 months, whaqt do you think is preventing you from gaining employment? </label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{preventsEmployment}"/>
            </div>
        </div>

        <div class="form-group form-row">
            <label class="col-sm-3">Transportation </label>
            <div class="col-sm-9">
                <label>Public</label>
                <input class="form-check" type="radio" th:field="*{transportation}" value="Public"/>
                <label>Private</label>
                <input class="form-check" type="radio" th:field="*{transportation}" value="Public"/>
            </div>
        </div>

        <div class="form-group form-row">
            <label class="col-sm-3">Drivers Liscense: </label>
            <div class="col-sm-9">
                <label>Yes</label>
                <input class="form-check" type="radio" th:field="*{driversLiscense}" value="yes"/>
                <label>No</label>
                <input class="form-check" type="radio" th:field="*{driversLiscense}" value="no"/>
            </div>
        </div>
        <div class="row justify-content-center p-4">
            <h3>Basic  Resources/ Supportive needs</h3>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Check all that you need assistance with : </label>
            <div class="col-sm-9">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{housingAssist}" value=""/>
                    <label class="form-check-label">Housing</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{childFamilyCareAssist}" value=""/>
                    <label class="form-check-label">Child/Family care</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{financialAssist}" value=""/>
                    <label class="form-check-label">Financial</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{foodAssist}" value=""/>
                    <label class="form-check-label">Food</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{healthAssist}" value=""/>
                    <label class="form-check-label">Health</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{transportationAssist}" value=""/>
                    <label class="form-check-label">Transportation</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{businessAttireAssist}" value=""/>
                    <label class="form-check-label">Business Attire</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{legalAssist}" value=""/>
                    <label class="form-check-label">Legal</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{otherAssist}" value=""/>
                    <label class="form-check-label">Other</label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center p-4">
            <h3>Your Career Goals</h3>
        </div>

        <div class="form-group form-row">
            <label class="col-sm-3">What is your long term career goal?</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{ltCareerGoal}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">What is the title of the position you are applying for or will apply for when you complete this training to
                start/ continue on the path to your long term career goal?
            </label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{positionApply}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">What specific skills and experience do you already have for this posistion?</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{skillsExp}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">What other stremgths/ aptitudes do you have for work in this field of it?</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{strengths}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">What training do you need to better prepare/gain qualifications for this posistion?</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{trainingNeeded}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">What responsibilities/daily tasks of this posistion do you think youll enjoy most?</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{tasksYoullEnjoy}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">How do you see yourself growing in this career over the next 3-5 years?</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{seeGrowth}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">What are two areas for personal/professional growth you need to focus on to
                become employable and able to retain a job in this field?</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{twoAreagrowth}"/>
            </div>
        </div>
        <div class="row justify-content-center p-4">
            <h3>Employment Preferences</h3>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Check all that you want from a career:</label>
            <div class="col-sm-9">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{healthInsurance}" value=""/>
                    <label class="form-check-label">Health Insurance</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{dental}" value=""/>
                    <label class="form-check-label">Dental  Insuance</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{visionInsurance}" value=""/>
                    <label class="form-check-label">Vision  Insuance</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{vacationSickLeave}" value=""/>
                    <label class="form-check-label">Vacation/Sick leave</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{retirementPlan}" value=""/>
                    <label class="form-check-label">Retirement Plan</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{fullTime}" value=""/>
                    <label class="form-check-label">Full Time Employment</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{partTime}" value=""/>
                    <label class="form-check-label">Part Time Employment</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{contractor}" value=""/>
                    <label class="form-check-label">Contractor</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{selfEmploy}" value=""/>
                    <label class="form-check-label">Self-Employment</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{weekdaysOnly}" value=""/>
                    <label class="form-check-label">Weekdays Only</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{dayHoursOnly}" value=""/>
                    <label class="form-check-label">Daytime Hours Only</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{flexSchedule}" value=""/>
                    <label class="form-check-label">Flexible Schedule</label>
                </div>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Desired Wage:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{desiredWage}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Desired geographical area:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{desiredLocal}"/>
            </div>
        </div>
        <div class="row justify-content-center p-4">
            <h3>America's Promimse Program Participation Requirements</h3>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Will you meet with the AP Career Navigator/Job Developer by appointment as needed?</label>
            <div class="col-sm-9">
                <label>Yes</label>
                <input class="form-check" type="radio" th:field="*{meetNavigator}" value="yes"/>
                <label>No</label>
                <input class="form-check" type="radio" th:field="*{meetNavigator}" value="no"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Are you commited to obtaining and maintaining long-term employment?</label>
            <div class="col-sm-9">
                <label>Yes</label>
                <input class="form-check" type="radio" th:field="*{committed2LTEmploy}" value="yes"/>
                <label>No</label>
                <input class="form-check" type="radio" th:field="*{committed2LTEmploy}" value="no"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Are you commited to contacting your instructor/program coordinator when you gain employment?</label>
            <div class="col-sm-9">
                <label>Yes</label>
                <input class="form-check" type="radio" th:field="*{committed2contactCoordinator}" value="yes"/>
                <label>No</label>
                <input class="form-check" type="radio" th:field="*{committed2contactCoordinator}" value="no"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Will you use the referrals your Instructor/Program Coordinator/AP Career Navigator/AP Job Developer provide?</label>
            <div class="col-sm-9">
                <label>Yes</label>
                <input class="form-check" type="radio" th:field="*{useReferrals}" value="yes"/>
                <label>No</label>
                <input class="form-check" type="radio" th:field="*{useReferrals}" value="no"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Are you willing to accept internshp/on-the-job training opportunities if available?</label>
            <div class="col-sm-9">
                <label>Yes</label>
                <input class="form-check" type="radio" th:field="*{willing2takeOnJobTraining}" value="yes"/>
                <label>No</label>
                <input class="form-check" type="radio" th:field="*{willing2takeOnJobTraining}" value="no"/>
            </div>
        </div>


        <div class="form-row justify-content-center">
            <button type="reset" class="btn btn-outline-dark">Reset</button>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </div>
    </form>
</div>

</body>
</html>