<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Student Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container p-3">
    <div class="row justify-content-center p-4">
        <h1>Please Fill out the  following career planning guide</h1>
    </div>
    <form action="#" th:action="@{/studentform}" th:object="${student}" method="post">
        <div class="form-group form-row">
            <label class="col-sm-3"> Full Name:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{name}"/>
            </div>
        </div>
        <div class="row justify-content-center p-4">
            <h3>Education/Training/Professional Developement</h3>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3"> Post Secondary Education/Training:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{postSecondaryEd}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">  Professional Certifications/Licenses Earned</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{ProfessionalCertifications}"/>
            </div>
        </div>

        <div class="row justify-content-center p-4">
            <h3>Current/Most Recent Employment</h3>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3"> Employer:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{employer}"/>
            </div>
        </div>

        <div class="form-group form-row">
            <label class="col-sm-3">Wage/Salary:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{wage}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Industry:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{industry}"/>
            </div>
        </div>

        <div class="form-group form-row">
            <label class="col-sm-3">Position( state full-time, part time, or temp):</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{position}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Reason For Leaving:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{reasonForLeaving}"/>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Other experience in industry: </label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{otherExperience}"/>
            </div>
        </div>

        <div class="form-group form-row">
            <label class="col-sm-3">If you have been unemployed longer than 6 months, whaqt do you think is preventing you from gaining employment? </label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{preventsEmployment}"/>
            </div>
        </div>

        <div class="form-group form-row">
            <label class="col-sm-3">Transportation </label>
            <div class="col-sm-9">
                <label>Public</label>
                <input class="form-check" type="radio" th:field="*{transportation}" value="Public"/>
                <label>Private</label>
                <input class="form-check" type="radio" th:field="*{transportation}" value="Public"/>
            </div>
        </div>

        <div class="form-group form-row">
            <label class="col-sm-3">Drivers Liscense: </label>
            <div class="col-sm-9">
                <label>Yes</label>
                <input class="form-check" type="radio" th:field="*{driversLiscense}" value="yes"/>
                <label>No</label>
                <input class="form-check" type="radio" th:field="*{driversLiscense}" value="no"/>
            </div>
        </div>
        <div class="row justify-content-center p-4">
            <h3>Basic  Resources/ Supportive needs</h3>
        </div>
        <div class="form-group form-row">
            <label class="col-sm-3">Check all that you need assistance with : </label>
            <div class="col-sm-9">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{housingAssist}" value=""/>
                    <label class="form-check-label">Housing</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{childFamilyCareAssist}" value=""/>
                    <label class="form-check-label">Child/Family care</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{financialAssist}" value=""/>
                    <label class="form-check-label">Financial</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{foodAssist}" value=""/>
                    <label class="form-check-label">Food</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{healthAssist}" value=""/>
                    <label class="form-check-label">Health</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{}" value=""/>
                    <label class="form-check-label">Transportation</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{}" value=""/>
                    <label class="form-check-label">Business Attire</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{}" value=""/>
                    <label class="form-check-label">Legal</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{}" value=""/>
                    <label class="form-check-label">Other</label>
                </div>
            </div>
        </div>














        <div class="form-row justify-content-center">
            <button type="reset" class="btn btn-outline-dark">Reset</button>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </div>
    </form>
</div>

</body>
</html>